{% extends 'base.html.twig' %}

{% block title %}ReaGames - Panier{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/basket.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Mon panier</h1><br>
            <div class="content">
                {% set prixGames = 0 %}
                {% if items | length > 0 %}
                    {% for item in items %}
                    <div class="item">
                        <div class="grid-item-infos">
                            <div class="item-img">
                                <img src="{{ asset( '/game-img/' ~ item.game.img1) }}" alt="">
                            </div>
                            <div class="item-game">
                                <h3>{{ item.game.name }}</h3>
                                <h4>Quantité : {{ item.quantity }}</h4>
                            </div>
                            <div class="item-price ps">
                                <img src="{{ asset('/img/playstation-logotype.png') }}" alt="">
                                <h3>{{ item.game.price * item.quantity }} €</h3>
                                <a href="{{ path('basket_remove', {id : item.game.id } ) }}"><span class="iconify" data-inline="false" data-icon="ant-design:delete-outlined" style="font-size: 25px; color: red;"></span></a>
                            </div>
                        </div>
                        <br><hr><br>
                    </div>
                    {% set prixGames = prixGames + item.game.price * item.quantity %}
                    <p class="price">Prix total : {{ prixGames }} €</p>
                    <button class="button">Passer au paiement</button>
                    {% endfor %}
                {% else %}
                    Votre panier est vide
                {% endif %}      
        </div>
    </div>

{% endblock %}
