{% extends 'base.html.twig' %}

{% block title %}ReaGames - Jeu acheté{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/memberAreaGame.css') }}">
{% endblock %}

{% block body %}

    <div class="container">

        <div class="game-info">
            <img src="{{ asset('/game-img/') }}{{ purchase.game.img2 }}" alt="" id="game-img">

            {# Image pour telephone #}
            <img src="{{ asset('/game-img/') }}{{ purchase.game.img1 }}" alt="" id="responsive">


            <div class="info">
                <h1> {{ purchase.game.name }} </h1><br>
                <p>Acheté le : <b>{{ purchase.date|date('d/m/Y') }}</b></p>
                {% if purchase.platform.name == 'PlayStation' %}
                    <img src="{{ asset('/img/playstation-logotype.png') }}" alt="">
                {% endif %}
                {% if purchase.platform.name == 'Xbox' %}
                    <img src="{{ asset('/img/logo_xbox.png') }}" alt="">
                {% endif %}
                {% if purchase.platform.name == 'PC' %}
                    <img src="{{ asset('/img/pc-logo-png-2.png') }}" alt="">
                {% endif %}
                <a href="{{ path('game', {id : purchase.game.id}) }}" style="color:white;"><h3>Voir la fiche du jeu</h3></a><br>
                <a href="{{ asset('/invoices/') }}{{ purchase.invoice.documentName }}{{'.pdf'}}"><button class="button" type="submit">Consulter ma facture</button></a>
            </div>

        </div>
    </div>

{% endblock %}