<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Facture</title>
    </head>
    <body>
        <h1>Facture</h1>
        <h4>{{ title }} du {{ purchase.date|date("m/d/Y") }}</h4>
        <div class="acheteur">
            <h5>A :</h5>
            <p>{{ user.lastname }} {{ user.Firstname }}</p>
            <p>{{ user.email }}</p>
        </div>
        {% set prixGames = 0 %}
        <table>
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Plateforme</th>
                    <th>Code d'activation</th>
                    <th>Montant</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.game.name }}</td>
                        <td>{{ item.game.price }} €</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.platform.name }}</td>
                        <td>{{ item.game.code }}</td>
                        <td>{{ item.game.price * item.quantity }} €</td>
                    </tr>
                    {% set prixGames = prixGames + item.game.price * item.quantity %}
                {% endfor %}
            </tbody>
        </table>
        <p class="price">Prix total : {{ prixGames }} €</p>
    </body>
</html>

<style>
table,td {
    border: 1px solid #333;
}

thead,tfoot {
    background-color: #333;
    color: #fff;
}

.acheteur{
    right: 0px;
    width: 100%;
}
</style>