{% extends 'base.html.twig' %}

{% block title %}ReaGames - Profil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/profile.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <h1>Profil</h1>
        <div id="profile">
            <div class="user-info">
                <img src="{{ asset('/img/user.png') }}" width="10%" alt="">
                <div class="info">
                    <p>Pseudo : <b>{{ user.username }}</b></p>
                    <p>Prénom : <b>{{ user.firstname }}</b></p>
                    <p>Nom : <b>{{ user.lastname }}</b></p>
                    <p>Adresse mail : <b>{{ user.email }}</b></p>
                    <p>Date de naissance : <b>{{ user.birthday|date('d/m/Y') }}</b></p>
                    <p>Solde : <b>{{ user.balance }} €</b></p>
                </div>
            </div>
            <div class="buttons">       
                <button id="edit" onclick="window.location.href = 'profile/passwordModify';">Modifier le profil</button>
                <button>Ajouter de l'argent</button>
            </div>
        </div>
    </div>

{% endblock %}


