{% extends 'base.html.twig' %}

{% block title %}ReaGames - Jeu{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/game.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="game-info">

            <img src="{{ asset('/game-img/') }}{{ game.img2 }}" alt="">

            <div class="info">
                <h1> {{ game.name }} </h1><br>
                <p class="descrip"> {{ game.description }} </p>
                <br>
                <div class="note">
                    <p>Note moyenne</p>
                </div>
                <p class="price"> {{ game.price }} €</p>
                <button class="button-basket" type="submit">Ajouter au panier</button><br>
                <div class="plateform">
                {% for comptabi in platform %}
                    {% if comptabi.name == 'PlayStation' %}
                        <img src="{{ asset('/img/playstation-logotype.png') }}" alt="">
                    {% endif %}
                    {% if comptabi.name == 'Xbox' %}
                        <img src="{{ asset('/img/002-xbox.png') }}" alt="">
                    {% endif %}
                    {% if comptabi.name == 'PC' %}
                        <p>PC</p>
                    {% endif %}
                {% endfor %}
                </div>
            </div>

        </div>
        <hr>
        <div class="reviews">
            <h2>Avis</h2>

            {% for comment in comments%}
            <div id="review">
                <div class="first-part">
                    <h3>{{ comment.idUser.username }}</h3><br>
                    <p>{{ comment.review }}
                    </p>
                </div>
                <div class="second-part">
                    <p>{{ comment.date|date('d/m/Y à H:i')  }}</p><br>
                </div>
            </div>
            {% endfor %}
            
            {# mettre condition : si le jeu a été acheté par le user #}
            <a href="#comment"><button class="button-review" type="submit" id="write">Laisser un avis</button></a>
        </div>
        <div id="comment" style="display: none;">
            {{ form(commentForm) }}
        </div>


    </div>

    <script>
        var comment = document.getElementById('comment');
        
        document.getElementById('write').addEventListener('click', function () {
            if(comment.style.display === 'none') {
                document.getElementById('comment').style.display = 'block'
            } else {
                document.getElementById('comment').style.display = 'none'
            }
            
        })
    
    </script>

{% endblock %}