{% extends 'base.html.twig' %}

{% block title %}ReaGames - Jeu{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/game.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/pagination2.css') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="game-info">

            <img src="{{ asset('/game-img/') }}{{ game.img2 }}" alt="">

            <div class="info">
                <h1> {{ game.name }} </h1><br>
                <p class="descrip"> {{ game.description }} </p>
                <br>
                <div class="note">
                    {% if noteMoyenne[0].note is empty %}
                        <p>Aucune note</p>
                    {% else %}
                        {# Entre 0 et 1 #}
                        {% if noteMoyenne[0].note|round > 0 and noteMoyenne[0].note|round <= 1 %}
                            <img src="{{ asset('/img/1star.png') }}" alt="" style="width: 25%;">
                        {% endif %}
                        {# Entre 1 et 2 #}
                        {% if noteMoyenne[0].note|round > 1 and noteMoyenne[0].note|round <= 2 %}
                            <img src="{{ asset('/img/2stars.png') }}" alt="" style="width: 25%;">
                        {% endif %}
                        {# Entre 2 et 3 #}
                        {% if noteMoyenne[0].note|round > 2 and noteMoyenne[0].note|round <= 3 %}
                            <img src="{{ asset('/img/3stars.png') }}" alt="" style="width: 25%;">
                        {% endif %}
                        {# Entre 3 et 4 #}
                        {% if noteMoyenne[0].note|round > 3 and noteMoyenne[0].note|round <= 4 %}
                            <img src="{{ asset('/img/4stars.png') }}" alt="" style="width: 25%;">
                        {% endif %}
                        {# Entre 4 et 5 #}
                        {% if noteMoyenne[0].note|round > 4 and noteMoyenne[0].note|round <= 5 %}
                            <img src="{{ asset('/img/5stars.png') }}" alt="" style="width: 25%;">
                        {% endif %}

                    {% endif %}
                </div>
                <p class="price"> {{ game.price }} €</p>
                {% if app.user %}
                    {% if game.quantity == 0 %} 
                        <h4>Rupture de stock</h4>
                    {% else %}
                    <div class="dropdown">
                        <button class="button-basket" type="submit" onclick="window.location.href = '/basket/add/{{ game.id }}';">Ajouter au panier</button>
                        <div class="dropdown-content">
                            {% for comptabi in platform %}
                                {% if comptabi.name == 'PlayStation' %}
                                    <a href="">&nbsp;&nbsp;PlayStation&nbsp;</a>
                                {% endif %}
                                {% if comptabi.name == 'Xbox' %}
                                    <a href="">Xbox</a>
                                {% endif %}
                                {% if comptabi.name == 'PC' %}
                                    <a href="">PC</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div><br>
                    {% endif %}
                    {% if game.quantity < 10 %} 
                        <h4>Il n'en reste plus que {{ game.quantity }} ! </h4>
                    {% endif %}
                {% endif %}
                <div class="plateform">
                {% for comptabi in platform %}
                    {% if comptabi.name == 'PlayStation' %}
                        <img src="{{ asset('/img/playstation-logotype.png') }}" alt="">
                    {% endif %}
                    {% if comptabi.name == 'Xbox' %}
                        <img src="{{ asset('/img/002-xbox.png') }}" alt="">
                    {% endif %}
                    {% if comptabi.name == 'PC' %}
                        <p>PC</p>
                    {% endif %}
                {% endfor %}
                </div>
            </div>

        </div>
        <hr>
        <div class="reviews">

            <div style="display:grid; grid-template-columns: 50% 50%;">
                <h2>Avis</h2>
                {% if app.user %}
                    {% if note is empty %}
                        <div class="rating rating2">
                            <form action="" method="post"><!--
                                --><button type="submit" name="submit" value="5"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--
                                --><button type="submit" name="submit" value="4"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--
                                --><button type="submit" name="submit" value="3"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--
                                --><button type="submit" name="submit" value="2"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--                        
                                --><button type="submit" name="submit" value="1"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button>
                            </form>
                        </div>
                    {% else %}
                    {% if note[0].note == '1' %}
                    <div class="rating rating2"><!--
                        --><button><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--
                        --><button><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--
                        --><button><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--
                        --><button><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--                        
                        --><button style="color: orange;"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button>
                    </div>

                    {% endif %}

                    {% if note[0].note == '2' %}
                        <div class="rating rating2">
                            <form action="" method="post"><!--
                                --><button type="submit" name="submit" value="5"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--
                                --><button type="submit" name="submit" value="4"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--
                                --><button type="submit" name="submit" value="3"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--
                                --><button type="submit" name="submit" value="2"><span class="iconify" style="color: orange;" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--                        
                                --><button type="submit" name="submit" value="1"><span class="iconify" style="color: orange;" data-inline="false" data-icon="ant-design:star-filled"></span></button>
                            </form>
                        </div>


                    {% endif %}

                    {% if note[0].note == '3' %}
                        <div class="rating rating2"><!--
                            --><button><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--
                            --><button><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--
                            --><button style="color: orange;"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--
                            --><button style="color: orange;"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--                        
                            --><button style="color: orange;"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button>
                        </div>

                    {% endif %}

                    {% if note[0].note == '4' %}
                        <div class="rating rating2"><!--
                            --><button><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--
                            --><button style="color: orange;"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--
                            --><button style="color: orange;"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--
                            --><button style="color: orange;"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--                        
                            --><button style="color: orange;"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button>
                        </div>

                    {% endif %}
                    {% if note[0].note == '5' %}
                        <div class="rating rating2"><!--
                            --><button style="color: orange;"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--
                            --><button style="color: orange;"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--
                            --><button style="color: orange;"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--
                            --><button style="color: orange;"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button><!--                        
                            --><button style="color: orange;"><span class="iconify" data-inline="false" data-icon="ant-design:star-filled"></span></button>
                        </div>

                    {% endif %}
                {% endif %}
            {% endif %}
            </div>
            <br><br>

            {% for comment in comments%}
            <div id="review">
                <img src="{{ asset( '/avatar/' ~ comment.idUser.avatar) }}" alt="" class="avatar-img">
                <div class="first-part">
                    <form method="POST" id="formComment{{comment.id}}" action="/game/modifyComment/{{comment.id}}/{{game.id}}">
                        <h3>{{ comment.idUser.username }}</h3><br>
                            <textarea id="commentModify{{comment.id}}" name="newComment" style="display: none;" required>{{ comment.review }}</textarea>
                        <p id="comment{{comment.id}}">{{ comment.review }}
                        </p>
                    </form>
                </div>
                <div class="second-part">
                    <p>{{ comment.date|date('d/m/Y à H:i')  }}</p><br>
                    {% if app.user %}
                        {% if comment.idUser.id == app.user.id %}
                            <span onclick="commentModify({{ comment.id }})" class="iconify" data-inline="false" data-icon="ant-design:edit-outlined" style="font-size: 25px; color: white;"></span>
                            <a href="{{ path('deleteComment', {id_comment : comment.id, id_game : game.id } ) }}">
                                <span class="iconify" data-inline="false" data-icon="ant-design:delete-outlined" style="font-size: 25px; color: white;"></span>
                            </a>
                            <button id="commentValidate{{comment.id}}" onclick="document.forms['formComment{{comment.id}}'].submit();return false;" class="validate" style="display: none;">
                                <span class="iconify" data-inline="false" data-icon="heroicons-outline:check" style="font-size: 24px; color: white;"></span>
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div id="pagination">
                {{ knp_pagination_render(comments) }}
            </div>
            
            {% if app.user %}
                <a href="#comment"><button class="button-review" type="submit" id="write">Laisser un avis</button></a>
            {% endif %}
        </div>
        {% if app.user %}
            <div id="comment" style="display: none;">
                {{ form(commentForm) }}
            </div>
        {% endif %}


    </div>

    <script>
        var comment = document.getElementById('comment');
        
        document.getElementById('write').addEventListener('click', function () {
            if(comment.style.display === 'none') {
                document.getElementById('comment').style.display = 'block'
            } else {
                document.getElementById('comment').style.display = 'none'
            }
            
        })

        function commentModify($id_comment) {
        if(document.getElementById("commentModify"+$id_comment).style.display == "inline-block") {
            document.getElementById("commentModify"+$id_comment).style.display = "none";
            document.getElementById("commentValidate"+$id_comment).style.display = "none";
            document.getElementById("comment"+$id_comment).style.display = "block";
        } else  {
            document.getElementById("commentModify"+$id_comment).style.display = "inline-block";
            document.getElementById("commentValidate"+$id_comment).style.display = "inline-block";
            document.getElementById("comment"+$id_comment).style.display = "none";
        }
        }
    
    </script>

{% endblock %}