{% extends 'base.html.twig' %}

{% block title %}ReaGames{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/home.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/pagination1.css') }}">
{% endblock %}

{% block body %}

    <div id="top"> 

        <div id="titles-top">

            <h1>Bienvenue sur <br>ReaGames</h1><br>

            <p>Découvrez une sélection <br>de jeux vidéos </p>

        </div>

    </div>

    <div class="container">
        <h2>Notre Catalogue</h2>
        
        <div class="catalogue">
            {% for game in games %}
            <div class="game">
                <a href="{{ path('game', {id : game.id}) }}">
                    <img src="{{ asset('/game-img/') }}{{ game.img1 }}" alt="">
                    <div class="game-name">
                        <p> {{ game.name }} </p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(games) }}
        </div>
    </div>

{% endblock %}


