{% extends 'base.html.twig' %}

{% block title %}ReaGames{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/home.css') }}">
{% endblock %}

{% block body %}

    <div id="top"> 

        <div id="titles-top">

            <h1>Bienvenue sur <br>ReaGames</h1><br>

            <p>Découvrez une sélection <br>de jeux vidéos </p>

        </div>

    </div>

    <div class="container">
        <h2>Notre Catalogue</h2>
        
        <div class="catalogue">
            <div class="game">
                <a href="/game/1">
                    <img src="{{ asset('/img/godofwar.jpg') }}" alt="">
                    <div class="game-name">
                        <p> God of War </p>
                    </div>
                </a>
            </div>
            <div class="game">
                <a href="/game/1">
                    <img src="{{ asset('/img/r6.jpeg') }}" alt="">
                    <div class="game-name">
                        <p> Rainbow 6 Siege </p>
                    </div>
                </a>
            </div>
            <div class="game">
                <a href="/game/1">
                    <img src="{{ asset('/img/Assassins-creed.jpg') }}" alt="">
                    <div class="game-name">
                        <p> Assassin's Creed Odyssey </p>
                    </div>
                </a>
            </div>
            <div class="game">
                <a href="/game/1">
                    <img src="{{ asset('/img/godofwar.jpg') }}" alt="">
                    <div class="game-name">
                        <p> God of War </p>
                    </div>
                </a>
            </div>
            <div class="game">
                <a href="/game/1">
                    <img src="{{ asset('/img/r6.jpeg') }}" alt="">
                    <div class="game-name">
                        <p> Rainbow 6 Siege </p>
                    </div>
                </a>
            </div>
            <div class="game">
                <a href="/game/1">
                    <img src="{{ asset('/img/Assassins-creed.jpg') }}" alt="">
                    <div class="game-name">
                        <p> Assassin's Creed Odyssey </p>
                    </div>
                </a>
            </div>
        </div>

    </div>

{% endblock %}


