{% extends 'base.html.twig' %}

{% block title %}ReaGames - Jeu{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/infoGame.css') }}">
{% endblock %}

{% block body %}

    <div class="container">

        <div class="game-info">

            <img src="{{ asset('/game-img/') }}{{ game.img2 }}" alt="">

            <div class="info">
                <h1> {{ game.name }} </h1><br>
                <p class="descrip"> {{ game.description }} </p>
                <br>
                <div class="note">
                    <p>Note</p>
                </div>
                <p class="price"> {{ game.price }} €</p>
                <button class="button-basket" type="submit">Ajouter au panier</button><br>
                <div class="plateform">
                    <img src="{{ asset('/img/playstation-logotype.png') }}" alt="">
                    <img src="{{ asset('/img/002-xbox.png') }}" alt="">
                    <p>PC</p>
                </div>
            </div>

        </div>
        <hr>
        <div class="reviews">
            <h2>Avis</h2>
            <div id="review">
                <div class="first-part">
                    <h3>alainproviste</h3><br>
                    <p>Mon commentaire Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur in mauris ante. Class aptent taciti sociosqu ad litora torquent per
                        conubia nostra, per inceptos himenaeos. 
                    </p>
                </div>
                <div class="second-part">
                    <p>22/03/2020 à 12:02</p><br>
                    <p>Note</p>
                </div>
            </div>
            
            <div id="review">
                <div class="first-part">
                    <h3>catwoghost</h3><br>
                    <p>Mon commentaire Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur in mauris ante. Class aptent taciti sociosqu ad litora torquent per
                        conubia nostra, per inceptos himenaeos. 
                    </p>
                </div>
                <div class="second-part">
                    <p>22/03/2020 à 12:02</p><br>
                    <p>Note</p>
                </div>
            </div>
            <button class="button-review" type="submit">Laisser un avis</button>
        </div>




    </div>

{% endblock %}