<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
        <link rel="stylesheet" href="{{ asset('/css/navbar2.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <!-- Navbar non connecté -->
            <!-- <nav>
                <ul>
                    
                    <img class="logo_reagames" src="{{ asset('/img/logo_reagames2.png') }}">
                    
                    <li>
                        <a href="{{ path('home') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ path('login') }}">Connexion</a>
                    </li>
                    <li class="icon">
                        <span class="iconify loupe" data-inline="false" data-icon="ant-design:search-outlined"></span>
                    </li>
                </ul>
            </nav> -->

            <!-- Navbar d'un membre connecté: -->
            <!-- <nav>
                <ul>
                    <img class="logo_reagames" src="{{ asset('/img/logo_reagames2.png') }}">

                    <li>
                        <a href="{{ path('home') }}">Home</a>
                    </li>
                    <li class="icon_list">
                        <a href="{{ path('logout') }}">
                            <span class="iconify icon" data-inline="false" data-icon="fe:logout"></span>
                        </a>
                    
                        <a href="">
                            <span class="iconify icon" data-inline="false" data-icon="ant-design:search-outlined"></span>
                        </a>

                        <a href="{{ path('basket') }}">
                            <span class="iconify icon" data-inline="false" data-icon="ant-design:shopping-cart-outlined"></span>
                        </a>
                        
                        <a href="{{ path('memberArea') }}">
                            <span class="iconify icon" data-inline="false" data-icon="gridicons:user-circle"></span>
                        </a>
                    </li>
                </ul>
            </nav> -->

            <!-- Navbar d'un admin connecté -->
            {# <nav>
                <ul>
                    <img class="logo_reagames" src="{{ asset('/img/logo_reagames2.png') }}">

                    <li>
                        <a href="{{ path('home') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ path('dashboard') }}">Dashboard</a>
                    </li>
                    <li class="icon_list">
                        <a href="{{ path('logout') }}">
                            <span class="iconify icon" data-inline="false" data-icon="fe:logout"></span>
                        </a>
                    
                        <a href="">
                            <span class="iconify icon" data-inline="false" data-icon="ant-design:search-outlined"></span>
                        </a>

                        <a href="{{ path('basket') }}">
                            <span class="iconify icon" data-inline="false" data-icon="ant-design:shopping-cart-outlined"></span>
                        </a>
                        
                        <a href="{{ path('memberArea') }}">
                            <span class="iconify icon" data-inline="false" data-icon="gridicons:user-circle"></span>
                        </a>
                    </li>
                </ul>
            </nav> #}
            <nav>
                <ul>
                    <img class="logo_reagames" src="{{ asset('/img/logo_reagames2.png') }}">

                    <li>
                        <a href="{{ path('home') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ path('dashboard') }}">Dashboard</a>
                    </li>
                    <li>
                        <a href="{{ path('memberArea') }}">Espace membre</a>
                    </li>
                    <li class="icon-list">
                        <a href="{{ path('logout') }}">
                            <span class="iconify icon" id="logout" data-inline="false" data-icon="fe:logout"></span>
                        </a>

                        <li class="icons">
                    
                            <a href="">
                                <span class="iconify icon" data-inline="false" data-icon="ant-design:search-outlined"></span>
                            </a>

                            <a href="{{ path('basket') }}">
                                <span class="iconify icon" data-inline="false" data-icon="ant-design:shopping-cart-outlined"></span>
                            </a>
                            
                            <a href="{{ path('profile') }}">
                                <span class="iconify icon" data-inline="false" data-icon="gridicons:user-circle"></span>
                            </a>

                        </li>
                    </li>
                </ul>
            </nav>
        </header>


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
