{% extends 'sidenav.html.twig' %}

{% block title %}ReaGames - Dashboard Utilisateurs{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/members.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/pagination1.css') }}">
{% endblock %}

{% block body %}

    <div class="content">
        <h1>Administrateurs</h1>
        <a href="{{ path('createAdmin') }}" class="add">Ajouter un admin</a><br>
        <div class="table">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Pseudo</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Adresse mail</th>
                    <th>Date du compte</th>
                </tr>
                {% for admin in admins %}
                    <tr>
                        <td>{{ admin.id }}</td>
                        <td>{{ admin.username }}</td>
                        <td>{{ admin.firstname }}</td>
                        <td>{{ admin.lastname }}</td>
                        <td>{{ admin.email }}</td>
                        <td>{{ admin.registerDate.date|date("m/d/Y") }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="navigation">
                {{ knp_pagination_render(admins) }}
            </div>
        </div>
    </div>

{% endblock %}