{% extends 'sidenav.html.twig' %}

{% block title %}ReaGames - Dashboard Utilisateurs{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/members.css') }}">
{% endblock %}

{% block body %}

    <div class="content">
        <h1>Membres</h1>
        <div class="table">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Pseudo</th>
                    <th>Adresse mail</th>
                    <th>Date du compte</th>
                    <th>Actions</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.registerDate.date|date("m/d/Y") }}</td>
                        <td>
                            <a href=""><span class="iconify" data-inline="false" data-icon="ant-design:edit-outlined" style="font-size: 30px; color: black;"></span></a>
                            <a href="{{ path('deleteMembers', {id : user.id} ) }}"><span class="iconify" data-inline="false" data-icon="ant-design:delete-outlined" style="font-size: 30px; color: black;"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
